.sidebar {
    flex: 2.5;
    height: calc(100vh - 51px);
    border-right: solid 1px rgb(72, 55, 55);
    
    .sidebarWrapper {
      padding: 10px;
    }
  }
  
  
  @media only screen and (max-width: 940px) {
    .sidebar {
      flex: 1;
    }
  }
  