.Location {
	text-align: left;
	color: rgb(93, 157, 230);
}
.loadpage{
	text-align: center;
	color:#505358;
	width: 200px;
}
.Location-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}
.Location-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
